.image-container {
  position: relative;
  overflow: hidden;
  /* You can customize the container styles as needed */
}

.hover-effect {
  transition: opacity 0.3s ease-in-out;
}

.hover-effect:hover {
  opacity: 0.8; /* Adjust the opacity value for the hover effect */
}